table, td,tr,th,
.weekly_report_table,.report_header, .report_row,.report_row_header,.report_header_cell,.report_cell{
	border:solid 1px black;
}
.tabline,.edit_area,.header_area,td input, td select{
	width:100%;
}
.menu_title,.task_list_title,.report_title{
	color:rgb(92,92,92);
}
.report_header_cell,button,.header_area{
	background-color:rgb(127,127,127);
	color:white;
}
.report_header_cell,.report_week_cell,td input, td select{
	text-align:center;
}
.report_header_cell,legend,button[class="tab selected"],.header_area,.report_week_cell{
	font-weight:bold;
}
button,.header_area{
	cursor:pointer;
}
fieldset{
	background-color:rgb(210,210,210);
	margin-top:5px;
}
legend{
	color:rgb(92,92,92);
}
.menu_actions>button,fieldset>button{
	display:block;
	height:30px;
	width:100%;
}
.header_area, td input, td select, .edit_area,.header_area, .tab,.menu,
.content{
	height:100%;
}
.content{
	position:relative;
	top:50px;
	left:-5px;
	font-size:0px;
}
.content>*{
	font-size:12pt;
}
.menu{
	width:250px;
	border-right:solid 1px black;
	margin-right:5px;
}
.menu,.task_section,.report{
	display:inline-block;
	height:100%;
	overflow:auto;
}
.task_section,.report{
	width:calc(75% - 3px);
}
.task_section{
	position:absolute;
	top:0px;
}

.tabline{
	font-size:0;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}


.tab{
	width:50%;
	cursor:pointer;
	background-color:rgb(200,200,200);
	border:none;
	padding:0;
}

button[class="tab selected"]{
	background-color:rgb(127,127,127);
}

table{
	border-collapse:collapse;
}
.edit_area,.header_area{
	min-width:100%;
	min-height:100%;
	border:none;
	font-family: Times New Roman, Courier New;
}
.edit_area{
	resize:none;
}
.edit_area:disabled{
	background-color:inherit;
	color:inherit;
}

.weekly_report_table{
	display:table;
	border-collapse:collapse;
}

.report_header, .report_row{
	display:table-row;
}
.report_row_header,.report_header_cell,.report_cell{
	display:table-cell;
}
.task_list_Header,th{
	height:30px;
	background-color:rgb(127,127,127);
}
.task_creation_cell>textarea,.task_id_cell>textarea,.header_area{
	text-align:center;
	padding-top:10px;
}
.header_area{
	padding-top:5px;
	border:none;
	resize:horizontal;
}

td{
	height:40px;
}

td input, td select{
	display:block;
	border:none;
	min-height:100%;
}

.report{
	margin-bottom:10px;
}

.filter_menu{
	border:solid 2px red;
	text-align:left;
	overflow:auto;
	width:200px;
	background-color:white;
	z-index:2;
	position:absolute;
	resize:both;
	top:20%;
	left:cal(50%-100px);
}
.mousediv{
	border:solid 1px green;
	position:absolute;
}
.folder_header{
	display:inline;
}

.status_todo,.priority_1{
	background-color:rgb(255,0,0);
}
.status_paused,.priority_2{
	background-color:rgb(255,96,0);
}
.status_done,.priority_3{
	background-color:rgb(0,255,0);
}
.status_started,.priority_4{
	background-color:rgb(0,176,240);
}
.status_standby{
	background-color:rgb(200,200,200);
}
.status_cancelled{
	background-color:rgb(120,120,120);
}
